<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>this content in data_from_BE</h1>
    <center><h1>Data from views(BE) {{name}}</h1></center>
    <center><h1>Data from views(BE) {{course}}</h1></center>
    <h1>This below data is displayed based on condition</h1>
    {% if age > 18 %}
    <h1>this content in data_from_BE</h1>
    <center><h1>Data from views(BE) {{name}}</h1></center>
    <center><h1>Data from views(BE) {{course}}</h1></center>
    <center><h1>Data from views(BE) {{age}}</h1></center>
    
    {% endif %}

</body>
</html>